<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">{{title}}</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
        <a class="nav-link" [routerLink]="['/catalogue']">Catalogue</a>
        <div>
          <span> <mat-icon [routerLink]="['/panier']">shopping_cart</mat-icon> </span>
          <span class="badge bg-secondary">{{ countProducts$ | async}}</span>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <button class="btn btn-outline-success me-2" type="submit">Login</button>
      <button class="btn btn-outline-success" type="submit">Signin</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>






