<label>Recherche</label>
<input [(ngModel)]="recherche" (ngModelChange)="valuechange($event)"/> 
<br/>
<br/>
<table class="table">
  <thead>
    <tr>
      <th>Marque</th>
      <th>Modele</th>
      <th>Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of catalogue| async; let index = index">
      <td>{{c.marque}}</td>
      <td>{{c.modele}}</td>
      <td>{{c.prix | number:'2.'}} euros</td>
      <button (click)="this.storeService.addToBasket(c)" type="button" class="btn btn-primary">Ajouter</button>
      <button [routerLink]="['/catalogue', index]" class="btn btn-info">Détail</button>
    </tr>
  </tbody>
  </table>
